$main-theme-color: #b4637a;
$body-bg-color: lighten($main-theme-color, 38%);
$anchor-color: $main-theme-color;
$main-text-color: #575279;
$border-color: #907aa9;
$main-bg-color: #faf4ed;
$secondary-text-color: #fffaf3;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 30%);
$compose-background: lighten($main-theme-color, 32%);

@import "_base.scss";
@import "_light_scrollbars.scss";
